primary-color = #f5f5f5

bottom-border()
    border 2px dotted black
bottom-line()
    bottom-border()
    margin-top 30px
    margin-bottom 10px

h4()
    text-transform uppercase
    font-weight 700
body
    background-color primary-color
.navbar-default
    background transparent
    border-color transparent
#myNavbar 
    ul
        li
            a
            color black
            &:hover
                color black    
#intro
    height 100vh
    text-align center
    .intro-heading
        padding-top 15%
    .intro-bottom
        padding-top 20px
        span
            text-decoration underline
    .dot-line
        bottom-border()
        margin-top 25%
#section2
    h4
        h4()
    img
        height 200px
        width 500px
    .bottom-line
        bottom-line()
    button
        background-color black
        border none
        color white
        padding 10px 20px
        text-align center
        text-decoration none
        cursor pointer
    .image-left
        margin-left 60px
        width 599px
        margin-top 20px
#section3
    .top-section3
        div
            text-align center
            h4
                h4()
        .column3
            padding-top 50px
            div
                padding 0px 40px
                span
                    font-weight 700
    .bottom-line
       bottom-line() 
    .bottom-section3
        .bottom-heading
            text-align center
            h4
                h4()
            padding-bottom 50px
    
    .list
        h4
            text-align center
            h4()
        ul
            list-style none
            li
                border-top 1px solid gray
                border-bottom  1px solid gray
                padding 10px 0px
                span
                    font-weight 700
.footer-bottom
    margin-top 30px
    min-height 100px
    color white
    background-color black
    a
        text-decoration none
        color white
    .copyright
        padding-top 20px;
    .design
        text-align  right
        padding-top 20px;
        
@media (min-width: 768px) 
  .navbar-nav.navbar-center 
    position absolute
    left 50%
    transform translatex(-50%)